button {
    background-color: blue;
    color: white;
    border: 2px solid blue;
    padding: 3px 5px;
    text-align: center;
    text-decoration: none;
}
    button:hover {
        background-color: yellow;
        color: black;
    }
label{
    margin: 3px 3px;
}
form{
    background-color: lightgoldenrodyellow;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px #dddddd;
}