@page "/adduser"
@inject IGenericRepository<User> Repo
@inject NavigationManager NavigationManager
@using DBAccess
@using DBAccess.Repository
@rendermode InteractiveServer
<link href="Form.css" rel="stylesheet" />
<PageTitle>Add User</PageTitle>

<h3>Add User</h3>

<EditForm Model="User" OnValidSubmit="Submit" FormName="NewClient">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div><label>
        Name:
        <InputText @bind-Value="User!.Name" />
    </label>
    </div>
    <div><label>
        Surname:
        <InputText @bind-Value="User!.Surname" />
    </label>
    </div>
    <div>
        <label>
            Email:
            <InputText @bind-Value="User!.Email" />
        </label>
    </div>
    <div>
        <label>
            Phone number:
            <InputText @bind-Value="User!.Phone" />
        </label>
    </div>
    <div>
        <label>
            Weight:
            <InputNumber @bind-Value="User!.Weight" />
        </label>
    </div>
    <div>
        <label>
            Age:
            <InputNumber @bind-Value="User!.Age" />
        </label>
    </div><br />
    <div><button type="submit">Create User</button></div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    public User? User { get; set; }
    protected override void OnInitialized() => User ??= new();
    private void Submit()
    {
        if (User != null)
        {
            Repo.AddItem(User);
            Repo.Save();
            NavigationManager.NavigateTo("users");
        }
    }
}
