@page "/exercises"
@using DBAccess
@using DBAccess.Repository
@inject IGenericRepository<Exercise> Repo;
@attribute [StreamRendering]

<PageTitle>Exercises</PageTitle>

Exercise types:

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in exercises)
            {
                <tr>
                    <td>@exercise.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private Exercise[]? exercises = null;
    protected override async Task OnInitializedAsync()
    {
        exercises = await Repo.GetItemsAsync();
    }
}