@page "/exercises"
@using DBAccess
@using DBAccess.Repository
@inject IGenericRepository<Exercise> Repo;
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Exercises</PageTitle>
<a href="/addexercise" class="linkbtn">New Exercise...</a><br /><br />
Exercise types:

@if (exercises == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Options</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var exercise in exercises)
            {
                <tr>
                    <td><button class="actionbtn" title="Delete" @onclick="(() => DeleteExercise(exercise))">&#10060;</button><button class="actionbtn" title="Edit" @onclick="(() => ModifyExercise(exercise))">&#x1F527;</button></td>
                    <td>@exercise.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private Exercise[]? exercises = null;
    protected override async Task OnInitializedAsync()
    {
        exercises = await Repo.GetItemsAsync();
    }
    async Task DeleteExercise(Exercise exercise)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Delete " + exercise.Name + "?");
        if (confirmed)
        {
            Repo.DeleteItem(exercise.Id);
            Repo.Save();
            exercises = Repo.GetItems();
        }
    }
    void ModifyExercise(Exercise exercise)
    {
        NavigationManager.NavigateTo("modifyexer/" + exercise.Id);
    }
}