@page "/users"
@inject IGenericRepository<User> Repo
@using DBAccess
@using DBAccess.Repository
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Users</PageTitle>

Client list:<br />
<a href="/adduser">Add User</a><br />
@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Options</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Weight</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td><button @onclick="(() => DeleteUser(user))">Delete</button><button @onclick="(() => ModifyUser(user))">Edit</button></td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@(user.Weight.ToString() ?? "Weight unknown")</td>
                    <td>@(user.Age.ToString() ?? "Age unknown")</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    private User[]? users = null;
    protected override async Task OnInitializedAsync()
    {
        users = await Repo.GetItemsAsync();
    }
    void DeleteUser(User user)
    {
        Repo.DeleteItem(user.Id);
        Repo.Save();
        users = Repo.GetItems();
    }
    void ModifyUser(User user)
    {
        NavigationManager.NavigateTo("modifyuser/"+user.Id);
    }
}