@page "/users"
@inject IGenericRepository<User> Repo
@using DBAccess
@using DBAccess.Repository
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@attribute [StreamRendering]

<PageTitle>Users</PageTitle>

Client list:<br />
<a href="/adduser">Add User</a><br />
@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <form method="get" @onsubmit="Search" @formname="search">
        <div>
            <label>
                Search by name:
                <InputText @bind-Value="Searchtext" />
                <button type="submit">Search</button>
            </label>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>Options</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Weight</th>
                <th>Age</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in users)
            {
                <tr>
                    <td><button @onclick="(() => DeleteUser(user))">Delete</button><button @onclick="(() => ModifyUser(user))">Edit</button></td>
                    <td>@user.Name</td>
                    <td>@user.Surname</td>
                    <td>@(user.Weight.ToString() ?? "Weight unknown")</td>
                    <td>@(user.Age.ToString() ?? "Age unknown")</td>
                </tr>
            }
        </tbody>
    </table>
}
@code {
    public String? Searchtext { get; set; }
    private User[]? users = null;
    private User[]? orig = null;
    protected override async Task OnInitializedAsync()
    {
        orig = await Repo.GetItemsAsync();
        users = orig;
    }
    void DeleteUser(User user)
    {
        Repo.DeleteItem(user.Id);
        Repo.Save();
        users = Repo.GetItems();
    }
    void ModifyUser(User user)
    {
        NavigationManager.NavigateTo("modifyuser/"+user.Id);
    }
    private void Search()
    {
        if (orig != null && Searchtext != null)
        {
            User[] result = orig.Where(u => (u.Name + " " + u.Surname).Contains(Searchtext)).ToArray();
            users = result;
        }
    }
}